.background-shelter{
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.6;
  position: fixed;
  top: 0;
  z-index: 2;
}
.information-box{
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
  height: 230px;
  background-color: #222222;
  box-sizing: border-box;
  overflow: hidden;
}

.fade-enter-active{
  animation-name: fade-in;
  animation-duration: 0.5s;
}
.fade-leave-active{
  animation-name: fade-out;
  animation-duration: 0.5s;
}
@-webkit-keyframes fade-in{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 0.6;
  }
}
@-webkit-keyframes fade-out{
  0%{
    opacity: 0.6;
  }
  100%{
    opacity: 0;
  }
}
.slide-up-icon{
  position: absolute;
  bottom: 0;
  right: 50%;
  cursor: pointer;
}
.slide-enter-active{
  animation-name: slide-down;
  animation-duration: 0.5s;
}
.slide-leave-active{
  animation-name: slide-up;
  animation-duration: 0.5s;
}
@keyframes slide-down{
  0%{
    height: 60px;
  }
  100%{
    height: 230px;
  }
}
@keyframes slide-up{
  0%{
    height: 230px;
  }
  100%{
    height: 0;
  }
}